body {
    width: 100vw;
}
.hero {
    background: #1F2937;
    color: white;
    font-family: roboto;
    width: 80%;
    margin: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar h1 {
    text-align: left;
    position: absolute;
}
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link {
    margin: 15px;
}
.nav-link-text {
    text-decoration: none;
    color: white;
}
.