body {
    width: 100vw;
    margin: 0;
    padding: 0;
}
.hero {
    background: #1F2937;
    color: white;
    font-family: roboto;
    width: 100%;
    margin: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.navbar h1 {
    position: absolute;
}
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link {
    margin: 15px;
}
.nav-link-text {
    text-decoration: none;
    color: white;
}


main {
    display: flex;
    justify-content: center;
    /* margin: 100px; */
    padding: 100px 200px;
}
.left {
    flex-basis: 40%;
}
/* .right {
    flex-basis: 39%; 
} */
.sign-up {
    background: #3882F6;
    color: white;
    padding: 5px 25px;
    border-radius: 10px;
    cursor: pointer;
}
/* this is b/c we ddon't wnanna bother looking for an image right now. */
.placeholder {
    width: 500px;
    height: 250px;
    background: rgb(115, 101, 101);
}